<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/simulator.css">
  <link rel="stylesheet" href="/css/notLoggedIn.css">

  <script src="https://kit.fontawesome.com/b7c0e417e7.js" crossorigin="anonymous"></script>
  <title>Simulator</title>
</head>

<header>
  <%- include('partials/_navbar') %>
    <% if(isLoggedIn){ %>
      <div class="lineview">
        <div class="tradingview-widget-copyright"></div>
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
          async>
            {
              "symbols" = [
                {
                  "proName": "FOREXCOM:SPXUSD",
                  "title": "S&P 500"
                },
                {
                  "proName": "FOREXCOM:NSXUSD",
                  "title": "US 100"
                },
                {
                  "proName": "FX_IDC:EURUSD",
                  "title": "EUR/USD"
                },
                {
                  "proName": "BITSTAMP:BTCUSD",
                  "title": "Bitcoin"
                },
                {
                  "proName": "BITSTAMP:ETHUSD",
                  "title": "Ethereum"
                },
                {
                  "description": "in",
                  "proName": "SGX:IN1!"
                },
                {
                  "description": "reliance",
                  "proName": "NSE:RELIANCE"
                },
                {
                  "description": "USD/Rupee",
                  "proName": "FX_IDC:USDINR"
                },
                {
                  "description": "oil",
                  "proName": "MCX:CRUDEOIL1!"
                },
                {
                  "description": "HDFC",
                  "proName": "NSE:HDFCBANK"
                },
                {
                  "description": "ICICI",
                  "proName": "NSE:ICICIBANK"
                },
                {
                  "description": "ITC",
                  "proName": "NSE:ITC"
                },
                {
                  "description": "KOTAK",
                  "proName": "NSE:KOTAKBANK"
                },
                {
                  "description": "APOLLO",
                  "proName": "NSE:APOLLOHOSP"
                },
                {
                  "description": "SBI",
                  "proName": "NSE:SBIN"
                },
                {
                  "description": "TATA",
                  "proName": "NSE:TATAMOTORS"
                },
                {
                  "description": "RBI",
                  "proName": "ECONOMICS:ININTR"
                }
              ],
                "showSymbolLogo" = true,
                "colorTheme" = "dark",
                "isTransparent" = false,
                "displayMode" = "adaptive",
                "locale" = "in"
            }
          </script>
      </div>
      <% } else { %>
        <% } %>

</header>

<body>
  <% if(isLoggedIn){ %>
    <div class="totalCost">
      Amount Invested (INR) : <span class="amount" id="costInvested">
        <%= details.costInvested %>
      </span>
    </div>
    <div class="totalCost">
      Cash In Hand (INR) : <span class="amount" id="costUser">
        <%= details.costInHand %>
      </span>
    </div>
    <div class="totalCost">
      Wallet (INR) : <span class="amount" id="wallet">
        <%= details.wallet %>
      </span>
      <a href="/pricing"><i class="fa-solid fa-plus" style="color: #268a19; margin-left: 10px;"></i></a>
    </div>


    <body class="charts-body">
      <h2 class="charts-heading">Simulator</h2>
      <div class="charts-container">
        <div class="charts-column">
          <div class="charts-card charts-card1">
            <div class="charts-sub-head" id="charts-sub">Companies</div>
            <div class="charts-info-1">
              <div class="charts-info-name">Name</div>
              <div class="charts-info1">LTP</div>
              <div class="charts-info2">Change</div>
              <div class="charts-info3">%Change</div>
            </div>
            <div class="charts-info">
              <div class="charts-info-name">AMBUJACEM</div>
              <div class="charts-info1">370.90</div>
              <div class="charts-info2">5.50</div>
              <div class="charts-info3">1.51%</div>
              <button value="Buy" class="buyingButton" id="AMBUJACEM" onclick="buyStock(this.id)">Buy</button>
            </div>
            <div class="charts-info">
              <div class="charts-info-name">AXISBank</div>
              <div class="charts-info1">217.65</div>
              <div class="charts-info2">2.10</div>
              <div class="charts-info3">0.97%</div>
              <button value="Buy" class="buyingButton" id="AXISBank" onclick="buyStock(this.id)">Buy</button>
            </div>
            <div class="charts-info">
              <div class="charts-info-name">GODREJC</div>
              <div class="charts-info1">943.60</div>
              <div class="charts-info2">-16.40</div>
              <div class="charts-info3">-1.71</div>
              <button value="Buy" class="buyingButton" id="GODREJC" onclick="buyStock(this.id)">Buy</button>
            </div>

          </div>
        </div>

        <div class="charts-column">
          <div class="charts-card charts-card2">
            <div class="charts-sub-head" id="charts-sub">Commodities</div>
            <div class="charts-info-1">
              <div class="charts-info-name">Name</div>
              <div class="charts-info1">LTP</div>
              <div class="charts-info2">Change</div>
              <div class="charts-info3">%Change</div>
            </div>
            <div class="charts-info">
              <div class="charts-info-name">GOLD</div>
              <div class="charts-info1">1939.30</div>
              <div class="charts-info2">-39.20</div>
              <div class="charts-info3">-1.98%</div>
              <button value="Buy" class="buyingButton" id="GOLD" onclick="buyStock(this.id)">Buy</button>
            </div>
            <div class="charts-info">
              <div class="charts-info-name">SILVER</div>
              <div class="charts-info1">22.26</div>
              <div class="charts-info2">-0.260</div>
              <div class="charts-info3">-1.16%</div>
              <button value="Buy" class="buyingButton" id="SILVER" onclick="buyStock(this.id)">Buy</button>
            </div>
            <div class="charts-info">
              <div class="charts-info-name">DIAMOND</div>
              <div class="charts-info1">1.3</div>
              <div class="charts-info2">0.005</div>
              <div class="charts-info3">1.1%</div>
              <button value="Buy" class="buyingButton" id="DIAMOND" onclick="buyStock(this.id)">Buy</button>
            </div>
          </div>
        </div>

        <div class="charts-column">
          <div class="charts-card charts-card3">
            <div class="charts-sub-head" id="charts-sub">Forex</div>
            <div class="charts-info-1">
              <div class="charts-info-name">Name</div>
              <div class="charts-info1">LTP</div>
              <div class="charts-info2">Change</div>
              <div class="charts-info3">%Change</div>
            </div>
            <div class="charts-info">
              <div class="charts-info-name">GBUSD</div>
              <div class="charts-info1">1.2198</div>
              <div class="charts-info2">-0.00796</div>
              <div class="charts-info3">-0.65%</div>
              <button value="Buy" class="buyingButton" id="GBUSD" onclick="buyStock(this.id)">Buy</button>
            </div>
            <div class="charts-info">
              <div class="charts-info-name">EURUSD</div>
              <div class="charts-info1">1.0765</div>
              <div class="charts-info2">0.00415</div>
              <div class="charts-info3">0.39%</div>
              <button value="Buy" class="buyingButton" id="EURUSD" onclick="buyStock(this.id)">Buy</button>
            </div>
            <div class="charts-info">
              <div class="charts-info-name">AUDUSD</div>
              <div class="charts-info1">0.6657</div>
              <div class="charts-info2">-0.00613</div>
              <div class="charts-info3">-0.91%</div>
              <button value="Buy" class="buyingButton" id="AUDUSD" onclick="buyStock(this.id)">Buy</button>
            </div>

          </div>
        </div>

        <div class="charts-column">
          <div class="charts-card charts-card4">
            <div class="charts-sub-head" id="charts-sub">Crypto</div>
            <div class="charts-info-1">
              <div class="charts-info-name">Name</div>
              <div class="charts-info1">LTP</div>
              <div class="charts-info2">Change</div>
              <div class="charts-info3">%Change</div>
            </div>
            <div class="charts-info">
              <div class="charts-info-name">ETHUSDT</div>
              <div class="charts-info1">1794.71</div>
              <div class="charts-info2">61.93</div>
              <div class="charts-info3">3.57%</div>
              <button value="Buy" class="buyingButton" id="ETHUSDT" onclick="buyStock(this.id)">Buy</button>
            </div>
            <div class="charts-info">
              <div class="charts-info-name">BTCUSD</div>
              <div class="charts-info1">28241.00</div>
              <div class="charts-info2">426.00</div>
              <div class="charts-info3">1.53%</div>
              <button value="Buy" class="buyingButton" id="BTCUSD" onclick="buyStock(this.id)">Buy</button>
            </div>
            <div class="charts-info">
              <div class="charts-info-name">SOLUSDT</div>
              <div class="charts-info1">22.60</div>
              <div class="charts-info2">0.47</div>
              <div class="charts-info3">2.12%</div>
              <button value="Buy" class="buyingButton" id="SOLUSDT" onclick="buyStock(this.id)">Buy</button>
            </div>
            <div></div>
          </div>
        </div>
      </div>
      <h2 class="charts-heading">Share Holdings</h2>

      <div class="simulator_stockcard">
        <div class="simulator_cardheading">
          <h2>Coca-Cola</h2>
          <p>New York Stock Exchange</p>
        </div>

        <div class="simulator_cardcontents">
          <div class="simulator_cardprice">

            <div class="simulator_allsameclass">
              <p class="simulator_cardcontentheadings">Price</p>
            </div>
            <div class="simulator_allsameclass">
              <p>USD54.35</p>
            </div>
            <div class="simulator_allsameclass">
              <p class="triangle">+ 0.385</p>
            </div>
            <div class="simulator_allsameclass">
              <p class="triangle">▲ 0.71%</p>
            </div>
          </div>

          <div class="simulator_cardvalue">

            <div class="simulator_allsameclass">
              <p class="simulator_cardcontentheadings">Value</p>
            </div>
            <div class="simulator_allsameclass">
              <p>$5,326</p>
            </div>
            <div class="simulator_allsameclass">
              <p># 98</p>
            </div>
          </div>

          <div class="simulator_cardprofit">
            <div class="simulator_allsameclass">
              <p class="simulator_cardcontentheadings">Profit</p>
            </div>
            <div class="simulator_allsameclass">
              <p>----------</p>
            </div>
            <div class="simulator_allsameclass">
              <p class="triangle">$39</p>
            </div>
            <div class="simulator_allsameclass">
              <p class="triangle">▲0.73%</p>
            </div>
          </div>
        </div>

      </div>

      <div class="simulator_stockcard">
        <div class="simulator_cardheading">
          <h2>Coca-Cola</h2>
          <p>New York Stock Exchange</p>
        </div>
        
        <div class="simulator_cardcontents">
          <div class="simulator_cardprice">

            <div class="simulator_allsameclass">
              <p class="simulator_cardcontentheadings">Price</p>
            </div>
            <div class="simulator_allsameclass">
              <p>USD54.35</p>
            </div>
            <div class="simulator_allsameclass">
              <p class="triangle">+ 0.385</p>
            </div>
            <div class="simulator_allsameclass">
              <p class="triangle">▲ 0.71%</p>
            </div>
          </div>

          <div class="simulator_cardvalue">

            <div class="simulator_allsameclass">
              <p class="simulator_cardcontentheadings">Value</p>
            </div>
            <div class="simulator_allsameclass">
              <p>$5,326</p>
            </div>
            <div class="simulator_allsameclass">
              <p># 98</p>
            </div>
          </div>

          <div class="simulator_cardprofit">
            <div class="simulator_allsameclass">
              <p class="simulator_cardcontentheadings">Profit</p>
            </div>
            <div class="simulator_allsameclass">
              <p>----------</p>
            </div>
            <div class="simulator_allsameclass">
              <p class="triangle">$39</p>
            </div>
            <div class="simulator_allsameclass">
              <p class="triangle">▲0.73%</p>
            </div>
          </div>
        </div>

      </div>

      <script src="/js/simulator.js"></script>
    </body>
    <% } else { %>
      <div class="bodyElement">
        <div class="image-container">
          <img style="width: 500px" class="signedOutImage" src="/images/profile-interface-animate.svg">
          <p class="image-caption">User not Logged-in</p>
          <button class="button-27" role="button"><a href="/signIn">Click Here to Login</a></button>
        </div>
      </div>
      <% } %>
</body>


<% if(isLoggedIn){ %>
  <footer>
    <%- include('partials/_footer') %>
  </footer>
  <% } else { %>
    <% } %>


</html>